USE [master]
GO
/****** Object:  Database [Proyecto PAV]    Script Date: 11/11/2021 19:38:13 ******/
CREATE DATABASE [Proyecto PAV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proyecto PAV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proyecto PAV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proyecto PAV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proyecto PAV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proyecto PAV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proyecto PAV]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[id_ciudad] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[provincia] [int] NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesTurnos]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesTurnos](
	[id_detalleTurno] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[id_turno] [int] NULL,
 CONSTRAINT [PK_DetallesTurnos] PRIMARY KEY CLUSTERED 
(
	[id_detalleTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
	[borrado] [bit] NULL,
	[rol] [varchar](50) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id_equipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL,
	[area] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Especialidad] PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudio]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudio](
	[id_estudio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[borrado] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horas]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horas](
	[borrado] [bit] NULL,
	[nombre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [int] NULL,
	[honorarios] [int] NULL,
	[especialidad] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[telefono] [int] NULL,
	[mail] [varchar](50) NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSocial]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocial](
	[id_obra_social] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Obra Social] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[dni] [int] NULL,
	[fecha_nacimiento] [date] NULL,
	[calle] [varchar](50) NULL,
	[altura_Calle] [int] NULL,
	[obra_social] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[provincia] [varchar](50) NULL,
	[borrado] [bit] NULL,
	[mail] [varchar](50) NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[id_provincia] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[borrado] [bit] NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[borrado] [bit] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos](
	[id_tipo_consulta] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[borrado] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 11/11/2021 19:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[nombre_paciente] [varchar](50) NULL,
	[apellido_paciente] [varchar](50) NULL,
	[fecha] [date] NULL,
	[hora] [varchar](50) NULL,
	[medico] [varchar](50) NULL,
	[estudio] [varchar](50) NULL,
	[equipo] [varchar](50) NULL,
	[borrado] [bit] NULL,
	[obra_social] [varchar](50) NULL,
	[costo] [int] NULL,
 CONSTRAINT [PK_Turnos] PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([id_area], [nombre], [borrado]) VALUES (1, N'Pabellon 1', 0)
INSERT [dbo].[Area] ([id_area], [nombre], [borrado]) VALUES (2, N'Primer Piso', 0)
INSERT [dbo].[Area] ([id_area], [nombre], [borrado]) VALUES (3, N'SubSuelo', 0)
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id_ciudad], [provincia], [nombre], [borrado]) VALUES (1, N'Cordoba', N'Rio Segundo', 0)
INSERT [dbo].[Ciudad] ([id_ciudad], [provincia], [nombre], [borrado]) VALUES (4, N'Cordoba', N'Villa del Rosario', 0)
INSERT [dbo].[Ciudad] ([id_ciudad], [provincia], [nombre], [borrado]) VALUES (8, N'Cordoba', N'San Carlos Mina', 0)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
INSERT [dbo].[Ciudades] ([id_ciudad], [nombre], [provincia], [borrado]) VALUES (31, N'Achiras', 1, 0)
INSERT [dbo].[Ciudades] ([id_ciudad], [nombre], [provincia], [borrado]) VALUES (40, N'Alma Fuerte', 1, 0)
INSERT [dbo].[Ciudades] ([id_ciudad], [nombre], [provincia], [borrado]) VALUES (2, N'Alta Gracia', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([nombre], [apellido], [id_empleado], [usuario], [contraseña], [mail], [borrado], [rol]) VALUES (N'Nicolas', N'Castro Cervantes', 1, N'nicocastro', N'luis1912', N'nicocastro@gmail.com', 0, N'Administrador')
INSERT [dbo].[Empleados] ([nombre], [apellido], [id_empleado], [usuario], [contraseña], [mail], [borrado], [rol]) VALUES (N'Alejo', N'Mercado', 6, N'amercado', N'alepub', N'', 0, N'Administrador')
INSERT [dbo].[Empleados] ([nombre], [apellido], [id_empleado], [usuario], [contraseña], [mail], [borrado], [rol]) VALUES (N'Claudia ', N'Cervantes', 12, N'ccervantes', N'nicolas', N'', 0, N'Secretario')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([id_equipo], [nombre], [borrado], [area]) VALUES (1, N'Ecografo 1', 0, N'Primer Piso')
INSERT [dbo].[Equipos] ([id_equipo], [nombre], [borrado], [area]) VALUES (2, N'Radiografo 1', 0, N'Primer Piso')
INSERT [dbo].[Equipos] ([id_equipo], [nombre], [borrado], [area]) VALUES (3, N'Mamomografo 1', 0, N'Primer Piso')
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [borrado]) VALUES (1, N'cardiologia', 0)
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [borrado]) VALUES (2, N'oncologia', 0)
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [borrado]) VALUES (3, N'ginecologia', 0)
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudio] ON 

INSERT [dbo].[Estudio] ([id_estudio], [nombre], [borrado]) VALUES (1, N'Consulta', 0)
INSERT [dbo].[Estudio] ([id_estudio], [nombre], [borrado]) VALUES (2, N'Ecografia', 0)
INSERT [dbo].[Estudio] ([id_estudio], [nombre], [borrado]) VALUES (3, N'Radiografia', 0)
SET IDENTITY_INSERT [dbo].[Estudio] OFF
GO
INSERT [dbo].[Horas] ([borrado], [nombre]) VALUES (0, N'8:00')
INSERT [dbo].[Horas] ([borrado], [nombre]) VALUES (0, N'8:30')
INSERT [dbo].[Horas] ([borrado], [nombre]) VALUES (0, N'9:00')
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([id_medico], [matricula], [honorarios], [especialidad], [nombre], [apellido], [telefono], [mail], [borrado]) VALUES (5, 8899, 150, N'cardiologia', N'Nicolas', N'Castro', 351234, N'nico', 0)
INSERT [dbo].[Medico] ([id_medico], [matricula], [honorarios], [especialidad], [nombre], [apellido], [telefono], [mail], [borrado]) VALUES (7, 7563, 200, N'imagenes', N'Martin', N'Caceres', 351475, NULL, 0)
INSERT [dbo].[Medico] ([id_medico], [matricula], [honorarios], [especialidad], [nombre], [apellido], [telefono], [mail], [borrado]) VALUES (8, 3589, 200, N'imagenes', N'Lucas', N'Gomez', 351478, NULL, 0)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
INSERT [dbo].[ObraSocial] ([id_obra_social], [nombre], [borrado]) VALUES (1, N'APROSS', 0)
INSERT [dbo].[ObraSocial] ([id_obra_social], [nombre], [borrado]) VALUES (3, N'OMIN', 0)
INSERT [dbo].[ObraSocial] ([id_obra_social], [nombre], [borrado]) VALUES (2, N'OSDE', 0)
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([id_paciente], [nombre], [apellido], [dni], [fecha_nacimiento], [calle], [altura_Calle], [obra_social], [ciudad], [provincia], [borrado], [mail]) VALUES (2, N'luis eduardo', N'castro', 20916307, NULL, N'litun', 540, N'APROSS', N'Marco Juarea', N'Cordoba', NULL, N'luisito@gmail.com')
INSERT [dbo].[Pacientes] ([id_paciente], [nombre], [apellido], [dni], [fecha_nacimiento], [calle], [altura_Calle], [obra_social], [ciudad], [provincia], [borrado], [mail]) VALUES (15, N'Alejo Miguel', N'Mercado', 42692162, NULL, N'sierra', 195, N'OSDE', N'Marco Juarea', N'Cordoba', 0, N'pub@gamil')
INSERT [dbo].[Pacientes] ([id_paciente], [nombre], [apellido], [dni], [fecha_nacimiento], [calle], [altura_Calle], [obra_social], [ciudad], [provincia], [borrado], [mail]) VALUES (20, N'Luis', N'Suarez', 42978153, NULL, N'Suarez', 65, N'OSDE', N'System.Windows.Forms.ComboBox, Items.Count: 49', N'System.Windows.Forms.ComboBox, Items.Count: 1', 0, N'luisito@gmail.com')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
INSERT [dbo].[Provincias] ([id_provincia], [nombre], [borrado]) VALUES (1, N'Cordoba', 0)
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre], [borrado]) VALUES (1, N'Administrador', 0)
INSERT [dbo].[Rol] ([id_rol], [nombre], [borrado]) VALUES (5, N'Especialista', 0)
INSERT [dbo].[Rol] ([id_rol], [nombre], [borrado]) VALUES (2, N'Gerente', 0)
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Turnos] ON 

INSERT [dbo].[Turnos] ([id_turno], [nombre_paciente], [apellido_paciente], [fecha], [hora], [medico], [estudio], [equipo], [borrado], [obra_social], [costo]) VALUES (1, N'Luis', N'Suarez', CAST(N'2021-07-05' AS Date), NULL, N'Gomez', N'Radiografia', N'Ecografo 1', 0, N'OSDE', 200)
INSERT [dbo].[Turnos] ([id_turno], [nombre_paciente], [apellido_paciente], [fecha], [hora], [medico], [estudio], [equipo], [borrado], [obra_social], [costo]) VALUES (2, N'Alejo Miguel', N'Mercado', CAST(N'2021-07-01' AS Date), N'11:00', N'Castro', N'Consulta', N'', 0, N'OSDE', 150)
INSERT [dbo].[Turnos] ([id_turno], [nombre_paciente], [apellido_paciente], [fecha], [hora], [medico], [estudio], [equipo], [borrado], [obra_social], [costo]) VALUES (3, N'Luis', N'Suarez', CAST(N'2021-07-04' AS Date), N'12:00', N'Castro', N'Consulta', N'', 0, N'OSDE', 150)
SET IDENTITY_INSERT [dbo].[Turnos] OFF
GO
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [DF_Area_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Ciudad] ADD  CONSTRAINT [DF_Ciudad_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Empleados] ADD  CONSTRAINT [DF_Empleados_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Equipos] ADD  CONSTRAINT [DF_Equipos_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Especialidad] ADD  CONSTRAINT [DF_Especialidad_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Estudio] ADD  CONSTRAINT [DF_Estudio_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Horas] ADD  CONSTRAINT [DF_Horas_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Medico] ADD  CONSTRAINT [DF_Medico_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Pacientes] ADD  CONSTRAINT [DF_Pacientes_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Rol] ADD  CONSTRAINT [DF_Rol_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[Turnos] ADD  CONSTRAINT [DF_Turnos_borrado]  DEFAULT ((0)) FOR [borrado]
GO
ALTER TABLE [dbo].[DetallesTurnos]  WITH CHECK ADD  CONSTRAINT [FK_DetallesTurnos_Turnos] FOREIGN KEY([id_turno])
REFERENCES [dbo].[Turnos] ([id_turno])
GO
ALTER TABLE [dbo].[DetallesTurnos] CHECK CONSTRAINT [FK_DetallesTurnos_Turnos]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_ObraSocial] FOREIGN KEY([obra_social])
REFERENCES [dbo].[ObraSocial] ([nombre])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_ObraSocial]
GO
USE [master]
GO
